.tags-wrap{
    width: 100%;
    height: 2rem;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 2.5rem;
    font-size: 0.68rem;
    border-bottom: 1px solid #c8c8c8;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items:center;
}

.tags-wrap .tags{
    width: 25%;
    height: 100%;
    text-align: center;
    line-height: 2rem;
}

.tags-wrap .tags.active{
    border-bottom: tomato 1.2px solid;
}