.page{
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;
}

.main{
    width: 100%;
    margin-top: 2.5rem;
    font-size: 0.65rem;
}

.list{
    width: 100%;
    height: 2.8rem;
    border-bottom: 1px solid #efefef;
    position: relative;
    z-index: 1;
}

.list .name-wrap{
    width: auto;
    height: auto ;
    position: absolute;
    left: 5%;
    top: 0.3rem;
    z-index: 1;
    font-size: 0.7rem;
}

.list .name-wrap span{
    padding-right: 0.5rem;
}

.list .address{
    width: auto;
    height: auto ;
    position: absolute;
    left: 4%;
    bottom: 0.3rem;
    z-index: 1;
}

.list .address span{
    color: tomato;
    border: tomato 1px solid ;
    padding: 0.1rem;
    margin-right: 0.4rem;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.list .right-arrow{
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    z-index: 1;
    background-image: url("../../../images/common/right_arrow.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    right: 0.8rem;
    top: 1rem;
}

.bottom-block{
    width: 100%;
    height: 3.8rem;
}

.btn-wrap{
    width: 100%;
    height: 3.8rem;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    left: 0;
    bottom: 0;
}

.btn-wrap .add-btn{
    width: 80%;
    height: 2rem;
    background-color: rgb(241, 70, 40);
    color: #fff;
    font-size: 0.8rem;
    position: absolute;
    z-index: 1;
    bottom:1.2rem;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    text-align: center;
    line-height: 2rem;
}